<html>
<head>
    <title>{% block title %}Mi Proyecto{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'inicio:inicio' %}">Inicio</a></li>
            <li><a href="{% url 'inicio:inicio' %}">Vista 1 App1</a></li>
            <li><a href="{% url 'inicio:inicio' %}">Vista 2 App1</a></li>
            <li><a href="{% url 'inicio:inicio' %}">Vista 1 App2</a></li>
            <li><a href="{% url 'inicio:inicio' %}">Vista 2 App2</a></li>
        </ul>
    </nav>
    {% block content %}
    {% endblock %}

    <footer>
        <p>&Copf; 2025 Mi Proyecto</p>
    </footer>
</body>
</html>